<h1  class="header">Welcome to cars Web site</h1>
<img class="image"src="assets/bugatti-wallpaper-4.jpg">
<mat-card class="card-car-icon">
  <button> <mat-icon class="icons" (click)=open()>directions_car</mat-icon> </button>
</mat-card>

<mat-card *ngIf="show"class="card-car-audi">
    <button> <mat-icon href="#audi" class="icons" >directions_car</mat-icon> </button>
    <a class="button"> AUDI </a>
</mat-card>

<mat-card *ngIf="show" class="card-car-bmw">
    <button> <mat-icon class="icons" >directions_car</mat-icon> </button>
  <a class="button"> BMW </a>
    
</mat-card>

<mat-card *ngIf="show" class="card-car-benz">
    <button> <mat-icon class="icons" >directions_car</mat-icon> </button>
  <a class="button"> BENZ </a>
    
</mat-card>

<mat-card *ngIf="show" class="card-car-maruti">
    <button> <mat-icon class="icons" >directions_car</mat-icon> </button>
  <a class="button"> MARUTHI </a>
    
</mat-card>

<mat-card *ngIf="show" class="card-car-honda">
    <button> <mat-icon class="icons" >directions_car</mat-icon> </button>
  <a class="button"> HONDA </a>
    
</mat-card>

<mat-card *ngIf="show" class="card-car-hyndai">
    <button> <mat-icon class="icons">directions_car</mat-icon> </button>
  <a class="button"> HYUNDAI </a>
    
</mat-card>

<mat-card *ngIf="show" class="card-car-tata">
    <button> <mat-icon class="icons" >directions_car</mat-icon> </button>
  <a class="button"> TATA</a>
</mat-card>

<mat-card *ngIf="show" class="card-car-mahendra">
    <button> <mat-icon class="icons">directions_car</mat-icon> </button>
  <a class="button"> MAHENDRA</a>

</mat-card>
<mat-divider></mat-divider>

<mat-card>
    <mat-card-title><h1>AUDI</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        <img class="content-image"src="assets/AudiA4.1.jpg">
        <img class="content-image"src="assets/AudiA4.2.jpg">
        <img class="content-image"src="assets/AudiA4.3.png">
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title><h1>BENZ</h1></mat-card-title>
    <mat-card-content >
        <h2>

            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        
        <img class="content-image"src="assets/benz-1.jpg">
        <img class="content-image"src="assets/benz-4.jpg">
        <img class="content-image"src="assets/benz-5.jpg">
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title><h1>BMW</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        <img class="content-image"src="assets/bmw-3.jpg">
        <img class="content-image"src="assets/bmw-1.jpg">
        <img class="content-image"src="assets/bmw-2.jpg">
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title><h1>TATA</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        <img class="content-image"src="assets/tata-hexa1.jpg">
        <img class="content-image"src="assets/Tata-hexa2.jpg">
        <img class="content-image"src="assets/tata-hexa3.jpg">
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title><h1>MAHENDRA</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The Mahindra Scorpio was launched in India on 20 June 2002. Soon after the success of the Scorpio, Mahindra launched an upgraded Scorpio with plush seats and rear centre arm rest, dual tone exterior colour and various minor changes.
            In April 2006, the company launched an upgraded Scorpio, dubbing it the 'All-New' Scorpio. At the Auto Expo 2006 in Delhi, Mahindra also showcased their future plans on the Scorpio model by showcasing a hybrid Scorpio with CRDe engine and a Scorpio based on a pickup truck . The hybrid, the first such vehicle developed in India, was developed by Arun Juara, a former employee of Ford. His senior, Pawan Goenka, a former engineer at GM, heads Mahindra's automotive division and oversees the Scorpio project. In June 2007, Mahindra launched a pick-up version in India known as the Scorpio Getaway. On September 21, 2008, Mahindra launched their latest Scorpio with a 6-speed automatic transmission gearbox.
            The upgraded Mahindra Scorpio Getaway, launched in Australia in mid-2009, received additional safety features to the Indian model such as ABS brakes and airbags in an attempt to raise its rating to a minimum of 3 stars from the current 2 star ANCAP rating. The 2012 model scored 6.6 points out of a possible 16, giving it a 3-star ANCAP rating.
            On April 14, 2008, Mahindra revealed a concept of a diesel-electric hybrid version of their Scorpio SUV at the 2008 SAE World Congress.
        
        </h2>
          <img class="content-image"src="assets/MahindraScorpio-1.jpg">
          <img class="content-image"src="assets/mahendra scorpio-2.1.jpg">
          <img class="content-image"src="assets/MahindraScorpio3.jpg">
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title><h1>MARUTI</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        <img class="content-image"src="assets/swfit-1.jpg">
        <img class="content-image"src="assets/swfit-2.jpg">
        <img class="content-image"src="assets/swifit-3.jpg">
       
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title><h1>HYUNDAI</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        <img class="content-image"src="assets/hyundai-verna-1.jpg">
        <img class="content-image"src="assets/verna-3.jpg">
        <img class="content-image"src="assets/Hyndai-verna2.jpg">
      </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-title>  <h1>HONDA</h1></mat-card-title>
    <mat-card-content>
        <h2>
            The A4 diesel is part of the 10 products that Audi is bringing in, to India, this year and we've finally managed to get our hands on it. It's finally out of the woods, so to say, and it's taken a while to come to India. It's been close to 7 months, since the new-gen A4 hit our shores; but, back then, it only came with a petrol engine. So, the line-up was a bit incomplete, till the time the diesel was launched; but, there's good enough reason why it's taken so much time
        </h2>
        <img class="content-image"src="assets/city-3.jpg">
        <img class="content-image"src="assets/city-2.jpg">
        <img class="content-image"src="assets/city-1.jpg">
      </mat-card-content>

</mat-card>

